{% extends 'base.html.twig' %}

{% block body %}
    <h1>Riesgo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ riesgo.id }}</td>
            </tr>
            <tr>
                <th>Riesgo</th>
                <td>{{ riesgo.riesgo }}</td>
            </tr>
            <tr>
                <th>Accionpreventiva</th>
                <td>{{ riesgo.accionPreventiva }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('riesgo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('riesgo_edit', { 'id': riesgo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
