{% extends 'base.html.twig' %}

{% block referencia %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Categoria</li>
    </ol>
{% endblock %}

{% block body %}
    <!-- /.box -->
<div class="col-lg-12">
    <div class="col-lg-1">
                    <a href="{{ path('categoria_new')}}" class="btn btn-app btn-xs">
                        <i class="fa fa-plus"></i> Agregar
                    </a>
                </div>
       
        <div class="col-lg-12">
          <div class="box">
            <div class="box-header">
                
              <h3 class="box-title">Categorias</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">

                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th> 
                    <th>Descripcion</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for categorium in categorias %}
                    <tr>
                        <td><a href="{{ path('categoria_show', { 'id': categorium.id }) }}">{{ categorium.id }}</a></td>
                        <td>{{ categorium.nombre }}</td>
                        <td>{{ categorium.descripcion }}</td>
                        <td>
                            <div class="btn-group">
                              <a href="{{ path('categoria_show', { 'id': categorium.id }) }}" class="btn btn-default btn-flat"><i class="fa fa-eye"></i></a>
                              <a href="{{ path('categoria_edit', { 'id': categorium.id }) }}" class="btn btn-default btn-flat"><i class="fa fa-edit"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
               
              </table>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          </div>
           
</div>
{% endblock %}
