{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-5">
    <div class="col-lg-10">

        <div class="box box-success col-lg-5 ">
                <div class="box-header with-border">
                  <h3 class="box-title">Crear Seguimiento</h3>
                </div>


                {% if indicador.unidadMedida == "PORCENTAJE" %}


                    {{ form_start(form) }}
                    
                    <label>({{var1}} * {{var2}})/ 100</label><br>

                    <label>{{var1}}</label>
                    <input type="text" class="form-control" name="numerador">

                    <label>{{var2}}</label>
                    <input type="text" class="form-control" name="denominador">
                       
                         <br>
                         <br>
                        <input type="submit" class="btn btn-default btn-block" value="Crear" />

                    {{ form_end(form) }}


                {% endif %}



                 {% if indicador.unidadMedida == "NUMERO" %}
                    {{ form_start(form) }}

                   
                      <label>({{var1}} - {{var2}})</label><br>

                    <label>{{var1}}</label>
                    <input type="text" class="form-control" name="operador1">

                    <label>{{var2}}</label>
                    <input type="text" class="form-control" name="operador2">
                        
                         <br>
                        <input type="submit" class="btn btn-default btn-block" value="Crear" />
                    {{ form_end(form) }}
                {% endif %}

                {% if indicador.unidadMedida == "NOVEDAD" %}
                    {{ form_start(form) }}

                    {% for variable in indicador.variables %}
                          
                    <label>{{variable.nombre}}</label>
                    {% endfor %}    
                    <input type="text" class="form-control" name="operador1">
                        
                         <br>
                        <input type="submit" class="btn btn-default btn-block" value="Crear" />
                    {{ form_end(form) }}
                {% endif %}

                 {% if indicador.unidadMedida == "INDICE" %}
                    {{ form_start(form) }}

                   
                     <label>{{var1}}- {{var2}})/{{var2}}</label><br>

                    <label>{{var1}}</label>
                    <input type="text" class="form-control" name="operador1">

                    <label>{{var2}}</label>
                    <input type="text" class="form-control" name="operador2">
                        <label>Usuario:</label>
                         {{ form_widget(form.usuario, {'attr': {'class': 'form-control select2'}}) }}
                         <br>
                         <br>
                        <input type="submit" class="btn btn-default btn-block" value="Crear" />
                    {{ form_end(form) }}
                {% endif %}

                 {% if indicador.unidadMedida == "DIAS" %}
                    {{ form_start(form) }}

                    
                     <label>{{var1}} - {{var2}}</label><br>

                    <label>{{var1}}</label>
                    <input type="date" class="form-control" name="fechaAprobacion">

                    <label>{{var2}}</label>
                    <input type="date" class="form-control" name="fechaInicio">
                        <label>Usuario:</label>
                         {{ form_widget(form.usuario, {'attr': {'class': 'form-control select2'}}) }}
                         <br>
                         <br>
                        <input type="submit" class="btn btn-default btn-block" value="Crear" />
                    {{ form_end(form) }}
                {% endif %}

                {% if indicador.unidadMedida == "DIAS AMPLIADO" %}
                    {{ form_start(form) }}

                     <label>({{var1}} - {{var3}})*{{var2}}</label><br>

                    <label>{{var1}}</label>
                    <input type="date" class="form-control" name="fechaAprobacion">

                    <label>{{var3}}</label>
                    <input type="date" class="form-control" name="fechaSolicitud">

                     <label>{{var2}}</label>
                    <input type="number" class="form-control" name="novedades">
                        <label>Usuario:</label>
                         {{ form_widget(form.usuario, {'attr': {'class': 'form-control select2'}}) }}
                         <br>
                         <br>
                        <input type="submit" class="btn btn-default btn-block" value="Crear" />
                    {{ form_end(form) }}
                {% endif %}
                <br>
        </div>
    </div> 
    </div>
{% endblock %}

