{% extends 'base.html.twig' %}
{% block referencia %}
     <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="{{ path('indicador_show',{'id':seguimientoIndicador.indicador.id})}}">Indicador</a></li>
        <li class="active">Seguimientos</li>
      </ol>
{% endblock %}
{% block body %}

<div class="col-lg-3">
    <h2>Seguimiento <small>{{seguimientoIndicador.indicador.nombre}}</small></h2>

    <table class="table table striped">
        <tbody>
            <tr>
                <th>Fechaseguimiento</th>
                <td>{% if seguimientoIndicador.fechaSeguimiento %}{{ seguimientoIndicador.fechaSeguimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Proximafecha</th>
                <td>{% if seguimientoIndicador.proximaFecha %}{{ seguimientoIndicador.proximaFecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Resultado</th>
                <td>{{ seguimientoIndicador.resultado}}</td>
            </tr>

            <tr>
                <th>Rango para acciones de mejora</th>
                <td>{{ seguimientoIndicador.indicador.porcentajeAcciones}}</td>
            </tr>

            <tr>
                <th>Meta</th>
                <td>{{ seguimientoIndicador.indicador.meta}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div class="col-lg-1">
    <a  data-toggle="tooltip"data-original-title="Agregar Accion" href="{{ path('accionesindicador_new', { 'idSeguimiento': seguimientoIndicador.id }) }}" class="btn btn-app">
      <i class="fa fa-plus"></i> Accion
    </a>
    <br>
</div>

<div class="col-lg-8">
    <table class="table display">
        <thead>
            <tr>
                <th>Accion</th>
                <th>Fecha cierre</th>
                <th>Estado cierre</th>
                <th>Usuario</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
        {% for accionesIndicador in seguimientoIndicador.accionesIndicadores %}
            <tr>
                <td><textarea readonly class="form-control" rows="5" cols="40"> {{ accionesIndicador.accion }}</textarea></td>
                <td>{% if accionesIndicador.fechaCierre %}{{ accionesIndicador.fechaCierre|date('Y-m-d') }}{% endif %}</td>
                <td>
                    {% if accionesIndicador.cierre != null %}{{ accionesIndicador.cierre.estado }}{% else %}
                    No cerrada{% endif %}
                </td>
                <td>

                    {% if accionesIndicador.cierre != null %}{{ accionesIndicador.cierre.usuario.nombres }} {{ accionesIndicador.cierre.usuario.apellidos }} {{ accionesIndicador.cierre.usuario.cargo.nombre }}{% else %}
                    No cerrada{% endif %}
                    
                </td>
                <td>{% if accionesIndicador.cierre == null %} <a class="btn btn-default btn-xs"  href="{{ path('cierre_new', { 'idAccionesIndicador': accionesIndicador.id }) }}">Agregar Cierre</a> {% else %}
                    <a class="btn btn-default btn-xs" href="{{ path('cierre_edit', { 'id': accionesIndicador.cierre.id }) }}">Editar Cierre</a> {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
