{% extends 'base.html.twig' %}

{% block body %}

<div class="col-lg-12">
    <div class="col-lg-3">
        <h3>Hallazgo <small>Auditoria: {{hallazgo.auditoria.proceso.nombre}}</small></h3>
        <hr>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Fecha hallazgo</th>
                    <td>{% if hallazgo.fechaHallazgo %}{{ hallazgo.fechaHallazgo|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Descripcion</th>
                    <td> <textarea class="form-control">    {{ hallazgo.descripcion }} </textarea></td>
                </tr>
                <tr>
                    <th>Naturaleza</th>
                    <td> <textarea class="form-control">    {{ hallazgo.naturaleza }}  </textarea></td>
                </tr>
                <tr>
                    <th>Tratamiento</th>
                    <td> <textarea class="form-control">    {{ hallazgo.tratamiento }} </textarea></td>
                </tr>
            </tbody>
        </table>
    </div>
     {% if app.user.role != "ROLE_SUPERVISOR" %}
    <div class="col-lg-1">
        <br>
        <a data-toggle="tooltip"data-original-title="Nueva accion" href="{{ path('accion_new', { 'idHallazgo': hallazgo.id }) }}" class="btn btn-app">
            <i class="fa fa-plus"></i> Accion 
        </a>
        <br>
    </div>
{% endif %}
    <div class="col-lg-8">
        <h3>Acciones <small>Auditoria: {{hallazgo.auditoria.proceso.nombre}}</small></h3>
        <hr>
        <table class="table display">
        <thead>
            <tr>
                <th>Fechamaxima</th>
                <th>Accion</th>
                <th>Observaciones</th>
                <th>Observaciones cierre</th>
                <th>Fecha cierre</th>
                {% if app.user.role != "ROLE_SUPERVISOR" %}
                <th>Cerrar</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for accion in hallazgo.acciones %}
            <tr>
                <td>{% if accion.fechaMaxima %}{{ accion.fechaMaxima|date('Y-m-d') }}{% endif %}</td>
                <td> <textarea class="form-control"> {{ accion.accion }} </textarea> </td>
                <td><textarea class="form-control"> {{ accion.observaciones }} </textarea> </td>
                <td>{% if accion.cierreAuditoria != null %}<textarea class="form-control"> {{ accion.cierreAuditoria.observaciones }}</textarea>{% else %}Accion no Cerrada{% endif %}
                </td>
                <td>
                    {% if accion.cierreAuditoria != null %}
                        {% if accion.cierreAuditoria.fecha %}{{ accion.cierreAuditoria.fecha|date('Y-m-d') }}{% endif %}
                    {% else %}{{ accion.fechaMaxima|date('Y-m-d') }}{% endif %}
                </td>
                {% if app.user.role != "ROLE_SUPERVISOR" %}
                <td>
                
                    {% if accion.cierreAuditoria == null %} <a class="btn btn-default btn-xs" href="{{ path('cierreauditoria_new', { 'idAccion': accion.id }) }}">Cerrar Accion</a> {% else %} {{accion.cierreAuditoria.estado}}{% endif %}
                
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>
{% endblock %}
