{% extends 'base.html.twig' %}

{% block body %}
    <h1>Procedimientodocumento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ procedimientoDocumento.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('procedimientodocumento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('procedimientodocumento_edit', { 'id': procedimientoDocumento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
