{% extends 'base.html.twig' %}

{% block body %}
    <h1>Procedimiento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ procedimiento.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ procedimiento.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ procedimiento.nombre }}</td>
            </tr>
            <tr>
                <th>Vigencia</th>
                <td>{% if procedimiento.vigencia %}{{ procedimiento.vigencia|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ procedimiento.version }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('procedimiento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('procedimiento_edit', { 'id': procedimiento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Documento</th>
                <th>Nombre Documento 2</th>
                <th>Tipo Documento</th>
                <th>Descargar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for procedimientoDocumento in procedimiento.procedimientosDocumentos %}
            <tr>
                <td><a href="{{ path('procedimientodocumento_show', { 'id': procedimientoDocumento.id }) }}">{{ procedimientoDocumento.id }}</a></td>
                <td>{{procedimientoDocumento.documento.nombre}}</td>
                <td>{{procedimientoDocumento.procedimiento.proceso.macroProceso.sigla}}
                    {% 
                        set idProceso = procedimientoDocumento.procedimiento.proceso.id / 2
                     %}
                     {% if idProceso < 5 %}
                        0
                     {% endif %}
                    {{procedimientoDocumento.procedimiento.proceso.id}}_
                    {% 
                        set idProcedimiento = procedimientoDocumento.procedimiento.id / 2
                     %}
                     {% if idProcedimiento < 5 %}
                        0
                     {% endif %}
                    {{procedimientoDocumento.procedimiento.id}}_{{procedimientoDocumento.documento.tipoDocumento.sigla}}
                    {% 
                        set idDocumento = procedimientoDocumento.documento.id / 2
                     %}
                     {% if idDocumento < 5 %}
                        0
                     {% endif %}
                    {{procedimientoDocumento.documento.id}}</td>
                 <td>{{procedimientoDocumento.documento.tipoDocumento.nombre}}</td>
                <td><a href="{{ path('catalogo_marca_download', { 'id': procedimientoDocumento.documento.id }) }}">descargar</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('procedimientodocumento_show', { 'id': procedimientoDocumento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('procedimientodocumento_edit', { 'id': procedimientoDocumento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
