{% extends 'base.html.twig' %}
{% block referencia %}
     <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="{{ path('dependencia_show', { 'id': procedimiento.proceso.macroProceso.dependencia.id }) }}">Dependencia</a></li>
        <li><a href="{{ path('proceso_show', { 'id': procedimiento.proceso.id }) }}">Proceso</a></li>
        <li>Procedimiento</li>
      </ol>
{% endblock %}

{% block body %}


  <div class="col-md-3">
    <a href="{{ path('proceso_show',{'id':procedimiento.proceso.id}) }}" class="link-black text-sm"><i class="fa fa-mail-reply margin-r-5"></i> Atras</a>

    <!-- About Me Box -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ procedimiento.nombre }}</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <strong><i class="fa fa-qrcode margin-r-5"></i> Codigo </strong>
        <p>{% if procedimiento.proceso.codigo < 10 %}<b>{{procedimiento.proceso.macroProceso.sigla | upper}}</b>0{{ procedimiento.proceso.codigo}}_{% if procedimiento.codigo < 10 %}
                  0{{ procedimiento.codigo }}
                  {% else %}
                    {{ procedimiento.codigo }}
                {% endif %}
              {% else %}
              <b> {{procedimiento.proceso.macroProceso.sigla | upper}}</b>{{ procedimiento.proceso.codigo }}_
               {% if procedimiento.codigo < 10 %}
                  0{{ procedimiento.codigo }}
                  {% else %}
                    {{ procedimiento.codigo }}
                {% endif %} 
            {% endif %}</p>
        <hr>
        <strong><i class="fa fa-list margin-r-5"></i> Version </strong>
        <p>{{ procedimiento.version }}</p>
        <hr>
        <strong><i class="fa fa-calendar margin-r-5"></i>Vigencia </strong>
        <p>{{procedimiento.vigencia}}</p>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>

  <div style="margin-top: 19px;" class="col-md-1">
    <a  data-toggle="tooltip"data-original-title="Archivo de procedimiento" href="{{ path('archivo_new', { 'idProcedimiento': procedimiento.id }) }}" class="btn btn-app">
      <i class="fa fa-plus"></i> Archivo
    </a>
    <br>
    <a  data-toggle="tooltip"data-original-title="Editar procedimiento" href="{{ path('procedimiento_edit', { 'id': procedimiento.id }) }}" class="btn btn-app">
      <i class="fa fa-edit"></i> Editar
    </a>
    <br>

    <a  data-toggle="tooltip"data-original-title="Eliminar procedimiento" href="{{ path('procedimiento_delete', { 'id': procedimiento.id }) }}" class="btn btn-app">
      <i class="fa fa-trash"></i> Eliminar
    </a>
    <br>

    <a  data-toggle="tooltip"data-original-title="Asignar nuevo documento" href="{{ path('procedimientodocumento_new', { 'idProcedimiento': procedimiento.id }) }}" class="btn btn-app">
      <i class="fa fa-plus"></i> Documento
    </a>
    <br>

  </div>

  <div style="margin-top: 19px;" class="col-md-8">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">

        <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="false">Archivos</a></li>
        <li class=""><a href="#timeline" data-toggle="tab" aria-expanded="false">Usuarios</a></li>
        <li class=""><a href="#normograma" data-toggle="tab" aria-expanded="false">Normograma</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="activity">

          <table class="table display" >
            <thead>
              <tr>

                <th>Version</th>
                <th>Control de Cambios</th>
                <th>Estado</th>
                <th>Descargar </th>
                <th>Descargar PDF</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for archivo in procedimiento.archivos %}
                <tr>
                  <td>{{ archivo.version }}</td>
                  <td>{{ archivo.descripcion }}</td>
                   <td>{% if archivo.estado %}<i <a  data-toggle="tooltip"data-original-title="Vigente" class="fa fa-circle-o text-green"></i>{% else %}<i <a  data-toggle="tooltip"data-original-title="Obsoleto"class="fa fa-circle-o text-red"></i>{% endif %}</td>
                  <td><a  data-toggle="tooltip"data-original-title="Descargar" class="btn btn-primary " href="{{ path('documento_archivo_download', { 'id': archivo.id }) }}"><i class="fa  fa-cloud-download"></i></a></td>
                  <td><a   data-toggle="tooltip"data-original-title="Descargar" class="btn btn-primary " href="{{ path('documento_pdf_archivo_download', { 'id': archivo.id }) }}"><i class="fa  fa-cloud-download"></i></a></td>
                  <td>
                    <div class="btn-group">
                      <a <a  data-toggle="tooltip"data-original-title="editar" href="{{ path('archivo_edit', { 'id': archivo.id }) }}" class="btn btn-default btn-flat btn-xs"><i class="fa fa-edit"></i></a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="timeline">
          <a href="{{ path('procedimientousuario_new', { 'idProcedimiento': procedimiento.id }) }}" class="link-black text-sm"><i class="fa fa-plus"></i> Usuario</a>
          <table class="table display">
            <thead>
              <tr>  
                <th>Nombre Usuario</th>
                <th>Identificacion Usuario</th>
                <th>Role</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for procedimientousuario in procedimiento.procedimientosUsuarios %}
                <tr>

                  <td>{{procedimientousuario.usuario.nombres}} {{procedimientousuario.usuario.apellidos}}</td>
                  <td>{{procedimientousuario.usuario.identificacion}}</td>
                  <td>{{procedimientousuario.role}}</td>
                  <td>
                    <div class="btn-group">
                      <a data-toggle="tooltip"data-original-title="ver" href="{{ path('usuario_show', { 'id': procedimientousuario.usuario.id }) }}" class="btn btn-default btn-flat btn-xs"><i class="fa fa-eye "></i></a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>      

        </div>
        <!-- /.tab-pane -->

        <!-- /.tab-pane -->
        <div class="tab-pane" id="normograma">
          <a href="{{ path('normograma_new', { 'idProcedimiento': procedimiento.id }) }}" class="link-black text-sm"><i class="fa fa-plus"></i> Normograma</a>
          <table class="table display" >
            <thead>
              <tr>  
                <th>Nombre</th>
                <th>Url</th>
              </tr>
            </thead>
            <tbody>
              {% for normograma in procedimiento.normogramas %}
                <tr>

                  <td>{{normograma.documentoLegal.nombre}}</td>
                  <td> <a data-toggle="tooltip"data-original-title="Visitar pagina" href="{{normograma.documentoLegal.url}}" class="btn btn-primary"><i class="fa fa-external-link"></i></a> </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>      

        </div>
        <!-- /.tab-pane -->


        <!-- /.tab-pane -->
      </div>
      <!-- /.tab-content -->
    </div>
    <!-- /.nav-tabs-custom -->
  </div>


  <div class="col-md-12">

    <!-- About Me Box -->
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Documentos</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table display" >
          <thead>
            <tr>

              <th>Documento</th>
              <th>Nombre</th>
              <th>Tipo Documento</th>
              <th>Version</th>
              <th>vigencia</th>
              <th>Descargar</th>
              <th>Instructivo</th>
              <th>Acciones</th>

            </tr>
          </thead> 
          <tbody>
            {% for procedimientoDocumento in procedimiento.procedimientosDocumentos %}
              <tr>

                <td>{{procedimientoDocumento.procedimiento.proceso.macroProceso.sigla}}{% set idProceso = procedimientoDocumento.procedimiento.proceso.codigo / 2 %}{% if idProceso < 5 %}0{% endif %}{{procedimientoDocumento.procedimiento.proceso.codigo}}_{% set idProcedimiento = procedimientoDocumento.procedimiento.codigo / 2 %}{% if idProcedimiento < 5 %}0{% endif %}{{procedimientoDocumento.procedimiento.codigo}}_{{procedimientoDocumento.documento.tipoDocumento.sigla}}{% set idDocumento = procedimientoDocumento.documento.id / 2 %}{% if idDocumento < 5 %}0{% endif %}{{procedimientoDocumento.documento.id}}</td>
                  <td>{{procedimientoDocumento.documento.nombre}}</td>
                  <td>{{procedimientoDocumento.documento.tipoDocumento.nombre}}</td>
                  <td>{{procedimientoDocumento.documento.version}}</td>
                  <td>{{procedimientoDocumento.documento.vigencia}}</td>
                  <td>
                      <a data-toggle="tooltip"data-original-title="Descargar" class="btn btn-primary " href="{{ path('catalogo_marca_download', { 'id': procedimientoDocumento.documento.id }) }}">
                      <i class="fa  fa-cloud-download"></i>
                    </a>
                  </td>

                  <td>
                      <a data-toggle="tooltip"data-original-title="Descargar" class="btn btn-primary " href="{{ path('instructivo_download', { 'id': procedimientoDocumento.documento.id }) }}">
                      <i class="fa  fa-cloud-download"></i>
                    </a>
                  </td>

                  <td>
                    <div class="btn-group">
                      <a data-toggle="tooltip"data-original-title="editar" href="{{ path('documento_edit_inicio', { 'id': procedimientoDocumento.documento.id,'idProcedmiento': procedimiento.id}) }}" class="btn btn-default btn-flat"><i class="fa fa-edit"></i></a>
                    </div>
                  </td>



              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>





{% endblock %}
