{% extends 'base.html.twig' %}
{% block referencia %}
     <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>{{dependencium.nombre}}</li>
      </ol>
{% endblock %}
{% block body %}

    <div >
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">{{ dependencium.nombre }} <small>Nit: {{dependencium.nit}}  </small> </h3>

              <div class="box-tools pull-right">
                   <h4>  {{dependencium.representante}}<small> Representante </small> </h4>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
             {% for categoria in dependencium.categorias %}
        
        <div class="box  box-solid box-default" >
            <div class="box-header with-border ">
              <h3 class="box-title">{{categoria.nombre}}</h3>
                    <a data-toggle="tooltip" title="Nuevo macro-proceso" class="col-md-offset-10" href="{{ path('macroproceso_new', { 'idCategoria': categoria.id,'idDependencia': dependencium.id}) }}" class="btn btn-default btn-xs">
                            <i class="fa fa-plus"></i> <small>Macroproceso</small>
                    </a>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Abrir">
                  <i class="fa fa-minus"></i></button>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                {% for mp in dependencium.macroprocesos %}
                    {% if mp.categoria.id == categoria.id %}


                    {% set macros = dependencium.macroprocesos|length %}

                        <div class="col-md-6 iteracion_ciclo" id="{{macros}}">
                            <div class="box box-solid   macros">
                                <div class="box-header with-border">
                                    
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="box-group" id="accordion">
                                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                        <div class="panel box box-primary">
                                            <div class="box-header with-border">
                                                <h4 class="box-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{mp.id}}" aria-expanded="false" class="collapsed">
                                                       <h3 class="box-title"><b>{{mp.sigla| upper}}</b> {{mp.nombre}}</h3>
                                                       <a style="margin-left:450px;" href="{{ path('proceso_new', { 'idMacroProceso': mp.id}) }}" class="small-box-footer">
                                                            <i class="fa fa-plus"></i> <small>Proceso</small>
                                                        </a>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne{{mp.id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                <div class="box-body ">
                                                    
                                                       <table class="table display2 compact" id"" >
                                                            <thead>
                                                                <tr>
                                                                    <th>Código</th>
                                                                    <th>Nombre</th>
                                                                    <th>Vigencia</th>
                                                                    <th>Ver</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for proceso in mp.procesos %}
                                                                <tr>
                                                                    <td>
                                                                        {% if proceso.codigo < 10 %}
                                                                            0{{proceso.codigo}}
                                                                            {% else %}
                                                                             {{proceso.codigo}}
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>{{ proceso.nombre }}</td>
                                                                    <td>{{proceso.vigencia}}</td>
                                                                    <td><a data-toggle="tooltip"data-original-title="Ver procesos" href="{{ path('proceso_show', { 'id': proceso.id }) }}" class="btn btn-social-icon btn-bitbucket btn-xs"><i class="fa  fa-hand-pointer-o"></i></a></td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>


                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            <!-- /.box-footer-->
        </div>
    {% endfor %}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    


{% endblock %}




