{% extends 'base.html.twig' %}

{% block referencia %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Proceso</li>
    </ol>
{% endblock %} 

{% block body %}
    <div class="col-lg-12">
        <div class="col-lg-12">
            <br>
          <div class="box box-primary">
            <div class="box-header">
                
              <h3 class="box-title">Procesos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">

                <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Vigencia</th>
                    <th>Macroproceso</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for proceso in procesos %}
                    {% if app.user.role == "ROLE_SUPER_ADMIN" or app.user.role == "ROLE_ADMIN_SGC" %}

                        {% if app.user.role == "ROLE_SUPER_ADMIN" %}
                            <tr>
                                <td>
                                    <b>{{ proceso.macroProceso.sigla}}</b>{% if proceso.codigo < 10 %}0{{ proceso.codigo }}{% else %}{{ proceso.codigo }}{% endif %}
                                </td>
                                <td>{{ proceso.nombre }}</td>
                                <td>{{ proceso.vigencia}}</td>
                                <td><b>{{ proceso.macroProceso.sigla}}</b>{{ proceso.macroProceso.nombre}}</td>
                                <td>
                                    <div class="btn-group">
                                      <a data-toggle="tooltip"data-original-title="Auditar" href="{{ path('auditoria_index', { 'idProceso': proceso.id }) }}" class="btn btn-default btn-flat"><i class="fa fa-hand-stop-o"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% elseif app.user.role == "ROLE_ADMIN_SGC" %}
                                {% if  app.user.dependencia.id == proceso.macroProceso.dependencia.id %}
                                    <tr>
                                        <td>
                                            <b>{{ proceso.macroProceso.sigla}}</b>{% if proceso.codigo < 10 %}0{{ proceso.codigo }}{% else %}{{ proceso.codigo }}{% endif %}
                                        </td>
                                        <td>{{ proceso.nombre }}</td>
                                        <td>{{ proceso.vigencia}}</td>
                                        <td><b>{{ proceso.macroProceso.sigla}}</b>{{ proceso.macroProceso.nombre}}</td>
                                        <td>
                                            <div class="btn-group">
                                              <a data-toggle="tooltip"data-original-title="Auditar" href="{{ path('auditoria_index', { 'idProceso': proceso.id }) }}" class="btn btn-default btn-flat"><i class="fa fa-hand-stop-o"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}    
                        {% endif %}    
                            


                    {% else %}
                        {% for procesoUsuario in proceso.procesosUsuarios %}
                            {% if app.user.id == procesoUsuario.usuario.id %}
                                <tr>
                                    <td>
                                        <b>{{ proceso.macroProceso.sigla}}</b>{{ proceso.codigo }}
                                    </td>
                                    <td>{{ proceso.nombre }}</td>
                                    <td>{{ proceso.vigencia}}</td>
                                    <td><b>{{ proceso.macroProceso.sigla}}</b>{{ proceso.macroProceso.nombre}}</td>
                                    <td>
                                        <div class="btn-group">
                                          <a data-toggle="tooltip"data-original-title="Auditar" href="{{ path('auditoria_index', { 'idProceso': proceso.id }) }}" class="btn btn-default btn-flat"><i class="fa fa-hand-stop-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
               
              </table>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          </div>
           
</div>
{% endblock %}
