{% extends 'base.html.twig' %}
{% block referencia %}
     <ol class="breadcrumb">
        <li><a href="{{ path('dependencia_show', { 'id': proceso.macroProceso.dependencia.id }) }}"><i class="fa fa-dashboard"></i>Dependencia</a></li>
        <li>Proceso</li>
      </ol>
{% endblock %}
{% block body %}
    <div class="col-md-3">
          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{ proceso.nombre }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Codigo </strong>
              <p>{{ proceso.codigo }}</p>
              <hr>
              <strong><i class="fa fa-map-marker margin-r-5"></i> Version </strong>
              <p>{{ proceso.version }}</p>
              <hr>
              <strong><i class="fa fa-pencil margin-r-5"></i>Vigencia </strong>
              <p>{{proceso.vigencia}}</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

            <div  class="col-md-1">

              <a href="{{ path('archivo_new', { 'idProceso': proceso.id }) }}" class="btn btn-app">
                    <i class="fa fa-plus"></i> Archivo 
                  </a>
                <br>
              
                <a href="{{ path('proceso_edit', { 'id': proceso.id }) }}" class="btn btn-app">
                    <i class="fa fa-edit"></i> Editar
                  </a>
                <br>

                <a href="{{ path('proceso_delete', { 'id': proceso.id }) }}" class="btn btn-app">
                    <i class="fa fa-trash"></i> Eliminar
                  </a>
                <br>

                <a href="{{ path('procedimiento_new', { 'idProceso': proceso.id }) }}" class="btn btn-app">
                    <i class="fa fa-plus"></i> <small>Procedimiento</small>
                  </a>
                <br>
                
                
            </div>

          <div  class="col-md-8">
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                
                <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="false">Archivos</a></li>
                <li class=""><a href="#timeline" data-toggle="tab" aria-expanded="false">Usuarios</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="activity">
                    
                        <table class="table" id="example1">
                            <thead>
                                <tr>
                                   
                                    <th>Version</th>
                                    <th>Descripcion</th>
                                    <th>Estado</th>
                                    <th>Urldocumento</th>
                                    <th>Urldocumento PDF</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for archivo in proceso.archivos %}
                                <tr>
                                    <td>{{ archivo.version }}</td>
                                    <td>{{ archivo.descripcion }}</td>
                                    <td>{% if archivo.estado %}<i class="fa fa-circle-o text-green"></i>{% else %}<i class="fa fa-circle-o text-red"></i>{% endif %}</td>
                                    <td><a class="btn btn-primary" href="{{ path('documento_archivo_download', { 'id': archivo.id }) }}"><i class="fa  fa-cloud-download"></i></a></td>
                                    <td><a class="btn btn-primary" href="{{ path('documento_pdf_archivo_download', { 'id': archivo.id }) }}"><i class="fa  fa-cloud-download"></i></a></td>
                                    <td>
                                        <div class="btn-group">
                                      <a  href="{{ path('archivo_show', { 'id': archivo.id }) }}" class="btn btn-default btn-flat btn-xs"><i class="fa fa-eye "></i></a>
                                      <a href="{{ path('archivo_edit', { 'id': archivo.id }) }}" class="btn btn-default btn-flat btn-xs"><i class="fa fa-edit"></i></a>
                                    </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                 
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="timeline">
                    <a href="{{ path('procesousuario_new', { 'idProceso': proceso.id }) }}" class="link-black text-sm"><i class="fa fa-plus"></i> Usuario</a>
                    <table class="table" id="example2">
                        <thead>
                            <tr>  
                                <th>Nombre Usuario</th>
                                <th>Identificacion Usuario</th>
                                <th>Role</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for procesoUsuario in proceso.procesosUsuarios %}
                            <tr>

                                <td>{{procesoUsuario.usuario.nombres}} {{procesoUsuario.usuario.apellidos}}</td>
                                <td>{{procesoUsuario.usuario.identificacion}}</td>
                                <td>{{procesoUsuario.role}}</td>
                                <td>
                                    <div class="btn-group">
                                      <a  href="{{ path('usuario_show', { 'id': procesoUsuario.usuario.id }) }}" class="btn btn-default btn-flat btn-xs"><i class="fa fa-eye "></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>      
                   
                </div>
                <!-- /.tab-pane -->

               
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
           </div>

       
        
           {#  {{ form_start(delete_form) }}
                <a type="submit" value="Delete" class="btn btn-app">
                <i class="fa fa-edit"></i> Edit
                </a>
            {{ form_end(delete_form) }} #}
  
<div class="col-md-12">


  <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Procedimientos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table" id="example40">
                  <thead>
                      <tr>
                          <th>Codigo</th>
                          <th>Nombre</th>
                          <th>Vigencia</th>
                          <th>Version</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for procedimiento in proceso.procedimientos %}
                      <tr>
                          <td>{{ procedimiento.codigo }}</td>
                          <td>{{ procedimiento.nombre }}</td>
                          <td>{{procedimiento.vigencia}}</td>
                          <td>{{ procedimiento.version }}</td>
                          <td>
                              <div class="btn-group">
                                <a  href="{{ path('procedimiento_show', { 'id': procedimiento.id }) }}" class="btn btn-default btn-flat"><i class="fa fa-eye"></i></a>
                                <a href="{{ path('procedimiento_edit', { 'id': procedimiento.id }) }}" class="btn btn-default btn-flat"><i class="fa fa-edit"></i></a>
                              </div>
                          </td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>

 
  
  </div>

{% endblock %}
