{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nivels list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Valor máximo</th>
                <th>+ Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for nivel in nivels %}
            <tr>
                <td><a href="{{ path('nivel_show', { 'id': nivel.id }) }}">{{ nivel.id }}</a></td>
                <td>{{ nivel.nombre }}</td>
                <td>{{ nivel.valorMaximo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('nivel_show', { 'id': nivel.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('nivel_edit', { 'id': nivel.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('nivel_new') }}">Create a new nivel</a>
        </li>
    </ul>
{% endblock %}
