{% extends 'base.html.twig' %}
{% block referencia %}
		 <ol class="breadcrumb">
				<li><a href="{{ path('proceso_show_supervisor',{'id':indicador.proceso.id})}}">Proceso</a></li>
				<li>Indicador</li>
			</ol>
{% endblock %}
{% block body %}
<div class="col-md-4">
	<!-- About Me Box -->
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">{{ indicador.nombre }}</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
		    <table class="table table-striped">
				<tbody>
					<tr>
						<th>Codigo</th>
						<td>
							{{indicador.proceso.macroProceso.sigla}}{% if indicador.proceso.codigo < 10 %}0{{indicador.proceso.codigo}}_{% else %}{{indicador.proceso.codigo}}_{% endif %}{% if indicador.codigo < 10 %}00{{ indicador.codigo }}{% else %}0{{ indicador.codigo }}{% endif %}
						</td>
						<th>Nombre</th>
						<td>{{ indicador.nombre }}</td>
					</tr>
					<tr>
						<th>Tipo</th>
						<td>{{ indicador.tipo }}</td>
						<th>Tablero</th>
						<td>{{ indicador.tablero }}</td>
					</tr>
					
					<tr>
						<th>Unidad de medida</th>
						<td>{{ indicador.unidadMedida }}</td>
						 <th>Periodicidad</th>
						<td>{{ indicador.periodicidad }}</td>
					</tr>
					<tr>
						<th>Meta</th>
						<td>{{ indicador.meta }}</td>
						<th>Calculo</th>
						<td>{{ indicador.calculoTotal }}</td>
					</tr>

					<tr>
						<th>Medida</th>
						<td>{{ indicador.Medida }}</td>
						<th>Metodologia</th>
						<td>{{ indicador.metodolgia }}</td>
					</tr>


					<tr>
					 
					</tr>
					<tr>Rango para acciones de mejora: {{indicador.porcentajeAcciones}}</tr>
				</tbody>
			</table>

		 	<p>Rango: <br>
				{% if indicador.rango != null %}
						{% for nivel in indicador.rango.niveles %}
							<b> <i class="fa fa-circle-o" style="color:{{nivel.color}};"></i> {{nivel.nombre}}:</b> {{nivel.valorMinimo}}-{{nivel.valorMaximo}} 
						{% endfor %}
						{% else %}
				{% endif %}
			</p>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>

<div class="col-lg-3">
	<p> 
		Objetivo:
		<textarea class="form-control">{{ indicador.objetivo }}</textarea> 
	</p>

	<p>
		Pertinencia:
		<textarea class="form-control">{{ indicador.pertinencia }}</textarea> 
	</p>
	<p>
		Metodología:
		<textarea class="form-control">{{ indicador.metodolgia }}</textarea> 
	</p>

	<p>
		Linea Base:
		<textarea class="form-control">{{ indicador.lineaBase }}</textarea> 
	</p>
</div>
<div class="col-md-5">
	<!-- About Me Box -->
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Responsables</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<table class="table">
				<thead>
					<tr>
						<th>Cargo</th>
						<th>Rol Responsable</th>
					</tr>
				</thead>

				<tbody>
				{% for indicadorCargo in indicador.indicadoresCargos %}
					<tr>
						<td>{{indicadorCargo.cargo.nombre}}</td>
						<td>{{indicadorCargo.roleResponsable}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->

	<!-- About Me Box -->
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Variables</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
					</tr>
				</thead>
				<tbody>
				{% for variable in indicador.variables %}
					<tr>
						<td>{{variable.nombre}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>


<div class="col-lg-12">
		<div class="col-lg-6">
			<!-- About Me Box -->
			<div class="box box-primary col-lg-3">
				<div class="box-header with-border">
					<h3 class="box-title">Seguimientos</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table class="table display">
							<thead>
								<tr>
									<th>Mes</th>
									<th>Fechaseguimiento</th>
									<th>Próxima fecha</th>
									<th>Resultado</th>
									<th>Usuario</th>
									{# <th><h5> <b>porcentaje</b> <small>resultado/meta</small></h5></th> #}
								</tr>
							</thead>

							<tbody>
							{% for seguimientoIndicador in indicador.seguimientosIndicadores %}
								<tr>
									<td>{{seguimientoIndicador.mes}}</td>
									<td>{% if seguimientoIndicador.fechaSeguimiento %}{{ seguimientoIndicador.fechaSeguimiento|date('Y-m-d') }}{% endif %}</td>
									<td>{% if seguimientoIndicador.proximaFecha %}{{ seguimientoIndicador.proximaFecha|date('Y-m-d') }}{% endif %}</td>
									<td>{{ seguimientoIndicador.resultado }}</td>
									<td>{{ seguimientoIndicador.usuario.nombres }}</td>
									{# <td>{{ seguimientoIndicador.porcentaje }}</td> #}
								</tr>
							{% endfor %}
							</tbody> 
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>

		<div class="col-lg-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Seguimiento Indicador</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>

				<div class="box-body chart-responsive">
					<div class="chart" id="bar-chart" style="height: 300px;"></div>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
</div>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script>
		var bar = new Morris.Bar({
			element: 'bar-chart',
			resize: true,
			data: [{
				{% for seguimientoIndicador in indicador.seguimientosIndicadores %}
					y: 'Seguimientos', a{{ seguimientoIndicador.id }}: {{ seguimientoIndicador.resultado }},
				{% endfor %}
				},

				{y:'Resultado', b:{{calculoTotal}}}
			],
			barColors: [
				{% for seguimientoIndicador in indicador.seguimientosIndicadores %}
					'#3c8dbc',
				{% endfor %}

				{% for nivel in indicador.rango.niveles %}
					{% if (calculoTotal >= nivel.valorMinimo) and (calculoTotal <= nivel.valorMaximo) %}
						'{{nivel.color}}'
					{% endif %}
				{% endfor %}
			],
			xkey: 'y',
			ykeys: [
				{% for seguimientoIndicador in indicador.seguimientosIndicadores %}
					'a{{ seguimientoIndicador.id }}',
				{% endfor %}
				'b'
			],
			hideHover: 'auto'
		});
	</script>
{% endblock %}

