{% extends 'base.html.twig' %}
{% block referencia %}
     <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="{{ path('auditoria_index', { 'idProceso': idProceso }) }}">Auditoria</a></li>
        <li class="active">Nuevo</li>
      </ol>
{% endblock %}
{% block body %}
    <h3>Cerrar Auditoria</h3>
    <div class="col-lg-4">
            <br>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Tipo auditoria</th>
                        <td>{{ auditorium.tipoAuditoria }}</td>
                    </tr>
                    
                        <th>Fecha inicio</th>
                        <td>{% if auditorium.fechaInicio %}{{ auditorium.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                    </tr>

                    </tr>
                    
                        <th>Proceso</th>
                        <td>{{ auditorium.proceso.macroProceso.nombre }} / {{ auditorium.proceso.nombre }}</td>
                    </tr>
                </tbody>
            </table>
    </div>

<div class="col-lg-4">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
<br>
        <input type="submit" value="Cerrar " class="btn btn-default btn-block" />
    {{ form_end(edit_form) }}
</div>
{% endblock %}
