{% extends 'base.html.twig' %}

{% block body %}
<div class="col-lg-12">
     <h2>Auditorias al <small>{{proceso.nombre}}</small></h2>
     <hr>
     <div class="col-md-4">
          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border"> 
              <h3 class="box-title">{{ proceso.nombre }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               <strong><i class="fa fa-qrcode margin-r-5"></i> Codigo </strong>
              <p>
                {% if proceso.codigo < 10 %}
                 <b> {{proceso.macroProceso.sigla | upper}}</b>0{{ proceso.codigo }}
                {% else %}
                    <b> {{proceso.macroProceso.sigla | upper}}</b>{{ proceso.codigo }}
                {% endif %}
              </p>
              <hr>
              <strong><i class="fa  fa-list margin-r-5"></i> Version </strong>
              <p>
                {% if proceso.archivos|length != 0 %}
                  {% for archivo in proceso.archivos %}
                      {% if archivo.estado %}
                          <div class="label label-success"> {{ archivo.version }}</div>
                      {% endif %}
                  {% endfor %}
                {% else %}
                  <h5 class="label label-danger"><i class="fa fa-clock-o"></i> No hay asignado ningun archivo</h5>
                {% endif %}
              </p>
              <hr>
              <strong><i class="fa fa-calendar margin-r-5"></i>Vigencia </strong>
              <p>{{proceso.vigencia}}</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
         <div  class="col-md-1">
              <a data-toggle="tooltip"data-original-title="Nueva Auditoria" href="{{ path('auditoria_new', { 'idProceso': proceso.id }) }}" class="btn btn-app">
                    <i class="fa fa-plus"></i> Auditoria 
                  </a>
                <br>
            </div>
</div>
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-body">
    <table class="table display">
        <thead>
            <tr>
                <th>Tipo de auditoria</th>
                <th>Objetivos</th>
                <th>Alcance</th>
                <th>Criterio</th>
                <th>Fecha inicio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for auditorium in auditorias %}
          {% if app.user.role == "ROLE_SUPER_ADMIN" or app.user.role == "ROLE_ADMIN_SGC" %}
            <tr>
                <td>{{ auditorium.tipoAuditoria }}</td>
                <td> <textarea class="form-control" cols="30" rows="5" readonly>{{ auditorium.objetivos }}</textarea></td>
                <td> <textarea class="form-control" cols="30" rows="5" readonly>{{ auditorium.alcance }}</textarea></td>
                <td> <textarea class="form-control" cols="30" rows="5" readonly>{{ auditorium.criterio }}</textarea></td>
                <td>{% if auditorium.fechaInicio %}{{ auditorium.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <div class="btn-group">
                              <a data-toggle="tooltip"data-original-title="ver" href="{{ path('auditoria_show', { 'id': auditorium.id }) }}" class="btn btn-default btn-flat"><i class="fa fa-eye"></i></a>
                    </div>
                </td>
            </tr>
            {% else %}
              {% if condition %}
              <tr>
                <td>{{ auditorium.tipoAuditoria }}</td>
                <td> <textarea class="form-control" cols="30" rows="5" readonly>{{ auditorium.objetivos }}</textarea></td>
                <td> <textarea class="form-control" cols="30" rows="5" readonly>{{ auditorium.alcance }}</textarea></td>
                <td> <textarea class="form-control" cols="30" rows="5" readonly>{{ auditorium.criterio }}</textarea></td>
                <td>{% if auditorium.fechaInicio %}{{ auditorium.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <div class="btn-group">
                              <a data-toggle="tooltip"data-original-title="ver" href="{{ path('auditoria_show', { 'id': auditorium.id }) }}" class="btn btn-default btn-flat"><i class="fa fa-eye"></i></a>
                    </div>
                </td>
              </tr>
            {% endif %}
           {% endif %}
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</div>
{% endblock %}

