{% extends 'base.html.twig' %}

{% block referencia %}
     <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="{{ path('auditoria_index', { 'idProceso': idProceso }) }}">Auditoria</a></li>
        <li class="active">Nuevo</li>
      </ol>
{% endblock %}

{% block body %}
    <div class="col-lg-5">
                  <a href="{{ path('auditoria_index', { 'idProceso': idProceso }) }}" style="margin-left: 89%;" class="link-black text-sm col-lg-offset-10"><i class="fa fa-mail-reply margin-r-5"></i> Atras</a>

        <div class="box box-success col-lg-5 ">
                <div class="box-header with-border">
                  <h3 class="box-title">Crear Entidad</h3>
                </div>
                 {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <br>
                    <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Crear</button>
                  </div>
                {{ form_end(form) }}
        </div>
    </div>
{% endblock %} 
