{% extends 'base.html.twig' %}

{% block body %}
<div class="col-lg-12">
    <h2>Auditoria <small>{{auditorium.proceso.nombre}}</small></h2>
    <hr>
        <div class="col-lg-2">
            <br>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Tipo auditoria</th>
                        <td>{{ auditorium.tipoAuditoria }}</td>
                    </tr>
                    
                        <th>Fecha inicio</th>
                        <td>{% if auditorium.fechaInicio %}{{ auditorium.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fecha fin</th>
                        <td>{% if auditorium.fechaFind %}{{ auditorium.fechaFind|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-2">
            <p>
            Objetivos:
            <textarea readonly class="form-control" >{{ auditorium.objetivos }}</textarea>
            </p>

            <p>
            Alcance:
            <textarea readonly class="form-control" >{{ auditorium.alcance }}</textarea>
            </p>

            <p>
            Criterio:
            <textarea readonly class="form-control" >{{ auditorium.criterio }}</textarea>
            </p>
            <br>
        </div>
        {% if auditorium.estado != null %}
            <div class="col-lg-2">
                <p> 
                Recomendaciones:
                <textarea  readonly class="form-control" >{{ auditorium.recomendaciones }}</textarea>
                </p>

                <p>
                Seguimiento:
                <textarea  readonly class="form-control" >{{ auditorium.seguimiento }}</textarea>
                </p>

                <p>
                Informe:
                <textarea  readonly class="form-control" >{{ auditorium.informe }}</textarea>
                </p>

                 <p>
                Concluciones:
                <textarea readonly  class="form-control" >{{ auditorium.concluciones }}</textarea>
                </p>
            </div>
            {% else %}
            <div class="col-md-1">
                    <br>
                    <a  data-toggle="tooltip"data-original-title="Agregar Auditor - Auditado" href="{{ path('auditoriausuario_new', { 'idAuditoria': auditorium.id }) }}" class="btn btn-app">
                          <i class="fa fa-plus"></i> Roles
                    </a>
                    <br>

                    <a  data-toggle="tooltip"data-original-title="Agregar Hallazgo" href="{{ path('hallazgo_new', { 'idAuditoria': auditorium.id }) }}" class="btn btn-app">
                          <i class="fa fa-plus"></i> Hallazgo
                    </a>
                    <br>

                     <a  data-toggle="tooltip"data-original-title="Cerrar auditoria" href="{{ path('auditoria_edit', { 'id': auditorium.id }) }}" class="btn btn-app">
                          <i class="fa fa-warning"></i> Cerrar
                    </a>
                    <br>
            </div> 
          
        {% endif %}
        <div class="col-lg-6">
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#roles" data-toggle="tab" aria-expanded="false">Roles</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="roles">
                    <table class="table display">
                        <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Identificacion</th>
                                <th>Cargo</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for auditoriaUsuario in auditorium.auditoriasUsuarios %}
                            <tr>
                                <td>{{ auditoriaUsuario.usuario.nombres }}</td>
                                <td>{{ auditoriaUsuario.usuario.apellidos }}</td>
                                <td>{{ auditoriaUsuario.usuario.identificacion }}</td>
                                <td>{{ auditoriaUsuario.usuario.cargo.nombre }}</td>
                                <td>{{ auditoriaUsuario.role }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
              <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
</div>
<div class="col-lg-12">
    <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Hallazgos</h3>
                </div>
        <!-- /.box-header -->
        <div class="box-body">
             <table class="table display">
                <thead>
                    <tr>
                        <th>Fecha hallazgo</th>
                        <th>Fecha Limite</th>
                        <th>Tipo</th>
                        <th>Descripcion</th>
                        <th>Naturaleza</th>
                        <th>Tratamiento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for hallazgo in auditorium.hallazgos %}
                    <tr>
                        <td>{% if hallazgo.fechaHallazgo %}{{ hallazgo.fechaHallazgo|date('Y-m-d') }}{% endif %}</td>
                        <td>
                            {% set modify = hallazgo.tipoHallazgo.plazo %}
                            {% if hallazgo.fechaHallazgo %}{{ hallazgo.fechaHallazgo|date_modify("+" ~ modify ~ " month")|date('Y-m-d') }}{% endif %}
                        </td>
                        <td>{{ hallazgo.tipoHallazgo.nombre }}</td>
                        <td> <textarea  rows="5" cols="20" readonly class="form-control"> {{ hallazgo.descripcion }}</textarea></td>
                        <td> <textarea  rows="5" cols="20" readonly class="form-control"> {{ hallazgo.naturaleza }} </textarea></td>
                        <td> <textarea  rows="5" cols="20" readonly class="form-control"> {{ hallazgo.tratamiento }}</textarea></td>
                        <td>
                            <div class="btn-group">
                              <a data-toggle="tooltip"data-original-title="ver" href="{{ path('hallazgo_show', { 'id': hallazgo.id }) }}" class="btn btn-default btn-flat "><i class="fa fa-eye "></i></a>

                              <a data-toggle="tooltip"data-original-title="editar" href="{{ path('hallazgo_edit', { 'id': hallazgo.id }) }}" class="btn btn-default btn-flat "><i class="fa fa-edit "></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>  
</div>
{% endblock %}
