{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipohallazgo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipoHallazgo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipoHallazgo.nombre }}</td>
            </tr>
            <tr>
                <th>Plazo</th>
                <td>{{ tipoHallazgo.plazo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipohallazgo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tipohallazgo_edit', { 'id': tipoHallazgo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
