{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accionesindicador</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ accionesIndicador.id }}</td>
            </tr>
            <tr>
                <th>Accion</th>
                <td>{{ accionesIndicador.accion }}</td>
            </tr>
            <tr>
                <th>Fechacierre</th>
                <td>{% if accionesIndicador.fechaCierre %}{{ accionesIndicador.fechaCierre|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('accionesindicador_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('accionesindicador_edit', { 'id': accionesIndicador.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
