{% extends 'base.html.twig' %}

{% block body %}
    <h1>Indicadorcargos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for indicadorCargo in indicadorCargos %}
            <tr>
                <td><a href="{{ path('indicadorcargo_show', { 'id': indicadorCargo.id }) }}">{{ indicadorCargo.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('indicadorcargo_show', { 'id': indicadorCargo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('indicadorcargo_edit', { 'id': indicadorCargo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('indicadorcargo_new') }}">Create a new indicadorCargo</a>
        </li>
    </ul>
{% endblock %}
