{% extends 'base.html.twig' %}

{% block referencia %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="{{ path('documento_index') }}">Documento</a></li>
        <li class="active">Editar</li>
    </ol>
{% endblock %}
 
{% block body %}
    <div class="col-lg-5">
        <a href="{{ path('documento_index') }}" style="margin-left: 89%;" class="link-black text-sm col-lg-offset-10"><i class="fa fa-mail-reply margin-r-5"></i> Atras</a>
        <div class="box box-info col-lg-5 ">
                <div class="box-header with-border">
                  <h3 class="box-title">Editar Documento</h3>
                </div>
                 {{ form_start(edit_form) }}
                   {{ form_widget(edit_form) }}
                    <br>
                    <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>
                {{ form_end(edit_form) }}

                <a class="btn btn-danger" style="margin-left: 86%; margin-top: -74px;"  href="#" data-href="{{ path('documento_delete_id', { 'id': documento.id }) }}" data-toggle="modal" data-target="#confirm-delete">
                Eliminar</a>
        </div>
    </div>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               Confirmacion!!
            </div>
            <div class="modal-body">
              Seguro desea eliminar el documento {{documento.nombre}} 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger btn-ok">Eliminar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
